src/main/mule/project1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="a8108dff-308a-4cef-b256-5f3c71988c6d" >
		<salesforce:cached-basic-connection username="aneeshkethi@gmail.com" password="Ashureddy@45" />
	</salesforce:sfdc-config>
	<flow name="project1Flow" doc:id="d94c4685-eca9-4035-8547-630fdbf36d4a" >
		<http:listener doc:name="Listener" doc:id="1f2541b0-31fb-4abd-a15f-291a57b56a18" config-ref="HTTP_Listener_config1" path="/hello" allowedMethods="post"/>
		<set-variable value="#[attributes.queryParams.Name]" doc:name="varOne" doc:id="bf6b2316-de63-4c36-974a-b169d375ad05" variableName="varOne "/>
		<logger level="INFO" doc:name="Responce logger" doc:id="bfc6ecfd-2391-4ce5-a356-406e1edc387e" message='#[vars."varOne "]'/>
	</flow>
</mule>
